* text=auto eol=lf

libs/go/sdks/**/*_gen.go        linguist-generated=true
libs/ts/sdks/**/*.d.ts          linguist-generated=true
services/*/internal/store/*.go  linguist-generated=true
apps/admin/_generated/**        linguist-generated=true
apps/frontend/public/devportal/openapi/**  linguist-generated=true
